{{> menu}}

<form class="box" action="/station/{{station._id}}/updatetrack/{{track._id}}" method="POST">
  <label>Track Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Code" name="code" value="{{track.code}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Temperature" name="temperature" value="{{track.temperature}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Wind speed" name="windSpeed" value="{{track.windSpeed}}">
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Wind direction" name="windDirection" value="{{track.windDirection}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Pressure" name="pressure" value="{{track.pressure}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Track</button>
</form>