{{#with station }}
<section class=" columns  pt-4 pb-4">
  <section class="column ">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title is-size-4  has-text-white title">
          {{title}}
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-64x64 m-auto">
          <img src="https://i.ibb.co/JKm3cnP/placeholder.png" alt="placeholder" border="0">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-12">
          <article class="card-content">
            <p class="content is-size-6 has-text-white">
              Lat: {{latitude}} °<br>
              Long: {{longitude}} °
            </p>
            <p></p>
          </article>
        </div>
      </div>
    </section>
  </section>
  <section class="column ">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title is-size-4  has-text-white title">
          Weather
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-64x64 m-auto ">
          <img src="https://openweathermap.org/img/wn/{{{iconCodeReport}}}@2x.png">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-12">
          <article class="card-content">
            <p class="content is-size-7 has-text-white">
              <br>
              {{weatherTypeReport}}<br>
              Feels like: {{feelsLikeReport}} °C <span style="font-size:10px;" class=" is-pulled-right">*Auto report only</span> <br>            
              Hum: {{humidityReport}} % <span style="font-size:10px;" class=" is-pulled-right">*Auto report only</span> 
            </p>
          </article>
        </div>
      </div>
    </section>
  </section>
  {{/with }}
  <section class="column ">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title is-size-4  has-text-white title">
          Temp
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-64x64 m-auto">
          <img src="https://i.ibb.co/ZgMm51B/high-temperature.png" alt="high-temperature" border="0">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-12">
          <article class="card-content">
            <p class="temperature content is-size-7 has-text-white">
              Cur:  {{station.temperature}} °C<br>
              CurF: {{station.tempFar}} °F<br>
              Max:  {{station.maxTempReport}} °C<br>
              Min:  {{station.minTempReport}} °C
            </p>
          </article>
        </div>
      </div>
    </section>
  </section>
  <section class="column ">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title is-size-4  has-text-white title">
          Wind
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-64x64 m-auto">
          <img src="https://i.ibb.co/vDs4ftw/wind.png" alt="wind" border="0">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-12">
          <article class="card-content">
            <p class="content is-size-7 has-text-white">
              <br>
              <br>
              Cur: {{station.windSpeed}} kMh<br>
              Dir: {{station.windDir}} <br>
            </p>
          </article>
        </div>
      </div>
    </section>
  </section>
  <section class="column ">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title is-size-4  has-text-white title">
          Pressure
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-64x64 m-auto">
          <img src="https://i.ibb.co/8DqT60g/gauge.png" alt="gauge" border="0">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-12">
          <article class="card-content">
            <p class="content is-size-7 has-text-white">
              <br>
              <br>
              <br>
              Cur: {{station.pressure}} hPa<br>
            </p>
          </article>
        </div>
      </div>
    </section>
  </section>
</section>




