

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Code</th>
      <th>Temp</th>
      <th>Wind speed</th>
      <th>Wind direction</th>
      <th>Pressure</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr>
      <td>
        {{currentHour}} 
      </td>
      
      <td>
        {{code}} 
      </td>
      <td>
        {{temperature}} °C 
      </td>
      <td>
        {{windSpeed}} kMh
      </td>
      <td>
        {{windDirection}} 
      </td>
      <td>
        {{pressure}} hPa
      </td>
      <td>
        <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button">
          {{>icons/edit}}
        </a>
      </td>
      <td>
        <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
          {{>icons/delete}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>