
{{#each stations}}
<div class="box box-link-hover-shadow">
<section class=" columns pt-2">
  <section class="column ">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title is-size-4  has-text-white title">
          {{title}}
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-64x64 m-auto">
          <img src="https://i.ibb.co/JKm3cnP/placeholder.png" alt="placeholder" border="0">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-12">
          <article class="card-content">
            <p class="content is-size-6 has-text-white">
              Lat: {{latitude}} 째<br>
              Long: {{longitude}} 째
            </p>
          </article>
        </div>
      </div>
    </section>
  </section>
  

  <section class="column ">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title is-size-4  has-text-white title">
          Weather
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-64x64 m-auto ">
          <img src="{{iconCode}}">
        </figure>

      </div>
      <div class="columns">
        <div class="column is-12">
          <article class="card-content">
            <p class="content is-size-6 has-text-white">
              <br>
            {{weatherType}}
            </p>
          </article>
        </div>
      </div>
    </section>
  </section>
  <section class="column ">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title is-size-4  has-text-white title">
          Temp
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-64x64 m-auto">
          <img src="https://i.ibb.co/ZgMm51B/high-temperature.png" alt="High temperature" border="0">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-12">
          <article class="card-content">
            <p class="temperature content is-size-6 has-text-white">
              Max:  {{maxTemp}} 째C<br>
              Min:  {{minTemp}} 째C
            </p>
          </article>
        </div>
      </div>
    </section>
  </section>
  <section class="column ">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title is-size-4  has-text-white title">
          Wind
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-64x64 m-auto">
          <img src="https://i.ibb.co/vDs4ftw/wind.png" alt="wind" border="0">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-12">
          <article class="card-content">
            <p class="content is-size-6 has-text-white">
              Max speed: {{maxWindSpeed}} kMh<br>
              Min speed: {{minWindSpeed}} kMh
            </p>
          </article>
        </div>
      </div>
    </section>
  </section>
  <section class="column ">
    <section class="card has-background-black">
      <header class="card-header">
        <p class="card-header-title is-size-4  has-text-white title">
          Pressure
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-64x64 m-auto">
          <img src="https://i.ibb.co/8DqT60g/gauge.png" alt="gauge" border="0">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-12">
          <article class="card-content">
            <p class="content is-size-6 has-text-white">
              Max: {{maxPressure}} hPa<br>
              Min: {{minPressure}} hPa
            </p>
          </article>
        </div>
      </div>
    </section>
  </section>
  
  </section>
 

 
  <a href="/station/{{_id}}" class="button">
    {{>icons/open}}
  </a>
  <a href="/dashboard/deletestation/{{_id}}" class="button">

    {{>icons/delete}}
  </a>
</div>
{{/each}}



