<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Code</th>
      <th>Temp</th>
      <th>Wind speed</th>
      <th>Wind direction</th>
      <th>Pressure</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#with station}}
    <tr>
      <td>
        {{currentHour}} 
      </td>
      <td>
        {{code}} 
      </td>
      <td>
        {{temperature}} °C 
      </td>
      <td>
        {{windSpeed}} kMh
      </td>
      <td>
        {{windDir}} 
      </td>
      <td>
        {{pressure}} hPa
      </td>
    </tr>
    {{/with}}
  </tbody>
</table>